<nav class="site-nav" role="navigation">
  
  <div class="nav-links">
    <%= link_to 'Home', '/index.html', :relative => true %>
    <%= link_to 'About', '/about.html', :relative => true %>
    <%= link_to 'Contact Us', '/contact.html', :relative => true %>
  </div>
  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
