<nav class="site-nav" role="navigation">
  <% link_to '/index.html', :relative => true, class: 'navbar-brand' do %>
    <i class="fa fa-flask"></i>
  <% end %>

  <div class="nav-links">
    <% link_to '/index.html', :relative => true do %>
      <i class="fa fa-star"></i> Home
    <% end %>
    <% link_to '/about.html', :relative => true do %>
      <i class="fa fa-eye"></i> About
    <% end %>
    <% link_to '/contact.html', :relative => true do %>
      <i class="fa fa-eye"></i> Contact Us
    <% end %>
  </div>
  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
