// ------------------------------------------------------------
// Only Pages 
// ------------------------------------------------------------
.info-about {
	margin-top: 40px;
}
.section-about {
	@include outer-container;
	aside {
		img {height: auto;}
		@include media($large-screen) { 
			@include span-columns(5); 
			img {
				border: 0;
				vertical-align: middle;
				display: inline-block;
				box-sizing: border-box;
				max-width: 100%;
				height: auto;
			}
		}
	}
	article {
		font-size: 22px;
		line-height: 1.25;
		@include media($large-screen) { 
			@include span-columns(7);
			blockquote {
				padding-left: 0px;
				margin-top: 0px;
				font-size: 1.8em;
				line-height: 1.25;
			}
		}
	}
}


.section-about-right {
	clear: both;
	font-size: 22px;
	line-height: 1.25;
	@include media($large-screen) {
		@include outer-container;
		aside { 
			@include span-columns(7); 
			img {
				border: 0;
				vertical-align: middle;
				display: inline-block;
				box-sizing: border-box;
			}
		}
		article { 
			img {height: auto;}
			@include media($large-screen) { 

				@include span-columns(5);
				img {
					border: 0;
					vertical-align: middle;
					display: inline-block;
					box-sizing: border-box;
					max-width: 100%;
				}
			}
		}
	}
}

// ------------------------------------------------------------
// contac page
// ------------------------------------------------------------
.contact-section {
	@include media($large-screen) { 
		@include outer-container;
		.contact-form { @include span-columns(6); }
		.contact-info { @include span-columns(6); }
	}
}

// ------------------------------------------------------------
// map 
// ------------------------------------------------------------
#map_canvas {
	height: 200px;
@include media($large-screen) {
  height: 400px;
  width: 100%;
}
}

#map_canvas img { 
  max-width: none; // to prevent UI control bug
}

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em;
}

#map_canvas .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0;
}

// ------------------------------------------------------------
// merchandise page
// ------------------------------------------------------------

.section-products {
	@include outer-container;
	@include media($large-screen) {
		.product-image { @include span-columns(4); }
		.info-product { @include span-columns(8); }
	}
}



