// ------------------------------------------------------------
// Only Pages 
// ------------------------------------------------------------
.info-about {
	margin-top: 70px;// not working !!!!!
}
.section-about {
	@include outer-container;
	aside {
		img {height: auto;}
		@include media($large-screen) { 
			@include span-columns(5); 
			img {
				border: 0;
				vertical-align: middle;
				display: inline-block;
				box-sizing: border-box;
				max-width: 100%;
				height: auto;
			}
		}
	}
	article {
		font-size: 22px;
		line-height: 1.25;
		@include media($large-screen) { 
			@include span-columns(7);
			blockquote {
				margin-top: 0px;
				font-size: 1.8em;
				line-height: 1.25;
			}
		}
	}
}


.section-about-right {
	clear: both;
	font-size: 22px;
	line-height: 1.25;
	@include media($large-screen) {
		@include outer-container;
		aside { 
			@include span-columns(7); 
			img {
				border: 0;
				vertical-align: middle;
				display: inline-block;
				box-sizing: border-box;
			}
		}
		article { 
			img {height: auto;}
			@include media($large-screen) { 

				@include span-columns(5);
				img {
					border: 0;
					vertical-align: middle;
					display: inline-block;
					box-sizing: border-box;
					max-width: 100%;
				}
			}
		}
	}
}