// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}
body {
  background-color: #ffffff;
  background: url("../images/cnvas_body1.png") repeat;
}
.site-header {
  position: relative;
  @include clearfix;
  background-color: #FFD79C;
  background: url('../images/banner.jpg');
  height:70px;

  @include media($medium-screen) {
    height:250px;
  }
  
}

.site-main {}

.site-footer {

  @include section_padding(1em);
  border-top: 1px solid #eee;
}
.icons {
  text-align: center;
  @include media($medium-screen) {
    ul li {
      display: inline-block;
      padding: 10px 20px;
    }
  }
}


// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
  font-family: "brandon-grotesque","grotesque",sans-serif;
}
p { font-family: "brandon-grotesque",sans-serif;}




// ------------------------------------------------------------
// intro unit 
// ------------------------------------------------------------
.intro {
  @include media($medium-screen) {
    margin: 80px 80px;
    h1 {
      font-weight: 500;
      margin: 0 auto 1em;
      text-align: center;
    }
    p {
      font-size: 1.5em;
      font-weight: 400;
      margin: 0 auto 1em;
      max-width: 90%;
      text-align: center;
      line-height: 1.4;
    }
  }
  margin-top: 3em;
}

// ------------------------------------------------------------
// section Pannels 
// ------------------------------------------------------------


// ------------------------------------------------------------
// demo from maaemo 
// ------------------------------------------------------------
.one_half {
  background-color: #e96847;
  overflow-x: hidden;
  margin-top: -15px;
  height: 400px;
  text-align: center;
  padding-top:30px;
}
// ------------------------------------------------------------
// images
// ------------------------------------------------------------
div.images {
  img {
    max-height:300px;
    width:auto;
    padding:2em;
  }
}
// ------------------------------------------------------------
// Grid with images
// ------------------------------------------------------------
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-colors: 
  desaturate($action-color, 30%), 
  #3581A5, 
  #5FBEBE,
  #98C79A,
  #A7A891, 
  #BDCC97,
  #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;
  margin-bottom: 4em;

  @include clearfix;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item {
    h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }
    p {
      color: transparentize($grid-item-color, 0.3);
      line-height: 1.5em;
      margin: auto;

      @include media($medium-screen) {
        max-width: 70%;
      }
    }
  }


  .grid-item-image {
    background: url("../images/Alebrije_Peacock_large_01-362x259.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image-one {
    background: url("../images/Laila_Espinoza.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image-two {
    background: url("../images/Butterfly.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
// ------------------------------------------------------------
// Pannel
// ------------------------------------------------------------
.pannel {
  @include clearfix;
  display: flex;
  background: #FF9748;
  background: linear-gradient(to right bottom, #648880, #293f50); 
  //margin-bottom: 4em;
}
.pannel-buy-vintage {
  background-color: #072CA6;
}
.middle {
  display: flex;
  margin-bottom: 0.4em;// only on mobile
  margin-top: 0.4em;// only on mobile
  @include media($medium-screen) {
  padding: 100px; // only on desktop
  margin: 0 auto;
  position: relative;
  text-align: center;
}
p {
  padding-top: 25px;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 auto 1em;
  max-width: 90%;
  line-height: 1.4;
  color: white;
} 
}

// ------------------------------------------------------------
// Grids 
// ------------------------------------------------------------
// demo grids
.wrapper-grids-bg {
  background-color: #f2e8dd;
      
}

.three-grids {
  @include clearfix;
  @include outer-container;
  max-width: 100%;
  zoom: 1;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  .aside { 
    @include span-columns(4);
    background: url("../images/Butterfly.jpg");
    background-position: top;
    background-repeat: no-repeat; 
    background-size: cover;
    background-color:#64fbff;
    height: 400px;
    display: flex;
    margin-right: 0px;
    width: 33.33333%;
  }
  // STILL NOT NOT NOT WORKING!!!!!

  .article { 
    @include span-columns(4);
    background: url("../images/Laila_Espinoza.jpg");
    background-position: top;
    background-repeat: no-repeat; 
    background-size: cover;
    background-color:#aea;
    height: 400px;
    display: flex;
    margin-right: 0px;
    width: 33.33333%;
  }
  .article-one {
   @include span-columns(4);
   background: url("../images/alebrije.jpg");
   background-position: top;
   background-repeat: no-repeat; 
   background-size: cover;
   background-color:#afafff; 
   height: 400px;
   margin-right: 0px;
   width: 33.33333%;
 }
}
.fade {
 opacity: 1;
 transition: opacity .30s ease-in-out;
 -moz-transition: opacity .30s ease-in-out;
 -webkit-transition: opacity .30s ease-in-out;
}

.fade:hover {
  opacity: 0.6;
}

