// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
	@include clearfix;
	background-color: #FFD79C;
}

.site-main {}

.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
}
p { font-family: "brandon-grotesque",sans-serif;}




// ------------------------------------------------------------
// Hero unit 
// ------------------------------------------------------------
.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;

  background: url('../images/casa_oaxaca.jpg');
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5em;
  @include media($large-screen) {
    height: 500px;
  }

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
// ------------------------------------------------------------
// section Pannels 
// ------------------------------------------------------------
section {
  @include outer-container;
  aside { @include span-columns(6); }
  article { @include span-columns(6); }
}

.clearfix {
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 6
}
.mouse-over {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.2);
    opacity: 0;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;

}
a:hover .mouse-over {
    opacity: 1;
}
.frontpage-blocks .frontpage-ingress {
  width: 50%;
  padding-left: 16px;
  margin-bottom: 250px;
  color: red;
}

// ------------------------------------------------------------
// demo from maaemo 
// ------------------------------------------------------------
