---
title: Casa Oaxaca | about
---
<div class="container module">
	<div class="info-about">
		<section class="section-about">
			<aside><%= image_tag 'casa-oaxaca.png' %></aside>
			<article>
				<blockquote>
					Casa Oaxaca opened in Albany, 
					California in July 2004
				</blockquote>

				<p>
					Memo brings from his native country many unique pieces of art and crafts 
					created by Mexican artists he knows that have helped him to create a shop 
					here in the San Francisco Bay Area that reflects the rich culture and artistry 
					for which Oaxaca is so well known.
				</p>
			</article>
		</section>
		<br />
		<section class="section-about-right">
			<aside>
				<p>
					Owner Guillermo ("Memo") Robles was born and raised in the enchanting 
					and ancient City of Oaxaca, the capital of the southern Mexican State of 
					Oaxaca
				</p>

				<p>
					Memo brings from his native country many unique pieces of art and crafts 
					created by Mexican artists he knows that have helped him to create a shop 
					here in the San Francisco Bay Area that reflects the rich culture and artistry 
					for which Oaxaca is so well known.
				</p>
			</aside>
			<article>
				<%= image_tag 'About_oaxaca.png' %>
			</article>
		</section>
	</div>
</div>