---
title: Casa Oaxaca | about
---
<div class="container module">
	<div>
		<h1>About</h1>
	<p>
		Owner Guillermo ("Memo") Robles was born and raised in the enchanting 
		and ancient City of Oaxaca, the capital of the southern Mexican State of 
		Oaxaca
	</p>

	<p>
		Memo brings from his native country many unique pieces of art and crafts 
		created by Mexican artists he knows that have helped him to create a shop 
		here in the San Francisco Bay Area that reflects the rich culture and artistry 
		for which Oaxaca is so well known.
	</p>
	</div>
</div>