---
title: Casa Oaxaca
---

<div class="container">
<div class="intro">
	<h1>CASA OAXACA</h1>
	<p>
		Casa Oaxaca buys directly from Mexican crafts people and artistic groups such as the
		Oaxacan Artesan Womens' Group at competitive prices.
	</p>	
</div>

	<div class="images">

	<%= image_tag 'green-door.png' %>

	<%= image_tag 'bike.png' %>


	<%= image_tag 'Crosses_pewter_various_001-181x252.jpg' %>

	<%= image_tag 'Catrinas_001-245x334.jpg' %>

	</div>

</div>