---
title: Casa Oaxaca
---
<div class="hero">
	<div class="hero-inner">
		<!--<div class="hero-copy">
			<h1>Short description of Product</h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>-->
	</div>
</div>

<div class="container module">
	<div class="one_half last ">
		<h1 class="margin-t20">Shop</h1>
		<p>Shop the “Island Babies” collection. Get a range of clothing and merchandise for babies and children, featuring the Caribbean’s cutest characters.</p>
		<p><a title="shop online" href="http://www.espjrisland.com/shop/">Shop now</a></p>
	</div>
	<p><br class="clear"></p>
</div>

<div class="container module">
	<section class="row clearfix">
		<div class="frontpage-ingress scroll-block" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
			At Maaemo, our focus is on a complete experience. In doing so, we want to highlight the relationship between the raw nature, produce and our cultural history. Welcome to our universe.
		</div>
	<aside class="frontpage-list-article num-1">
		<a href="http://maaemo.no/menu" class="block-link scroll-block history-enabled" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
			<div class="block-image-slideshow image-wrapper" data-images="">
				<img sizes="(min-width: 100em) calc(38vw - 168px - 16px), (min-width: 75em) calc(34vw - 138px - 16px), (min-width: 62em) calc(42vw - 68px - 16px), (min-width: 45em) calc(75vw - 32px - 68px), calc(100vw - 70px)" srcset="http://d27shkkua6xyjc.cloudfront.net/images/01.Menu/_480xAUTO_crop_center-center_70/Menu_01_1200px.jpg?mtime=20141112152700 480w, http://d27shkkua6xyjc.cloudfront.net/images/01.Menu/_700xAUTO_crop_center-center_75/Menu_01_1200px.jpg?mtime=20141112152700 700w, http://d27shkkua6xyjc.cloudfront.net/images/01.Menu/_900xAUTO_crop_center-center/Menu_01_1200px.jpg?mtime=20141112152700 900w, http://d27shkkua6xyjc.cloudfront.net/images/01.Menu/_1200xAUTO_crop_center-center/Menu_01_1200px.jpg?mtime=20141112152700 1200w, http://d27shkkua6xyjc.cloudfront.net/images/01.Menu/_1600xAUTO_crop_center-center/Menu_01_1200px.jpg?mtime=20141112152700 1600w" alt="Woman holding dish with smoke">
				<span class="mouse-over"></span>
			</div>
			<h2 class="heading-small">Menu – A journey through the Norwegian&nbsp;landscape</h2>
		</a>
	</aside>

	<article class="frontpage-list-article num-2">
		<a href="http://maaemo.no/story/arctic-circle-gonads-got-me-high" class="block-link scroll-block history-enabled" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
			<div class="block-image-slideshow image-wrapper" data-images="http://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_1200xAUTO_crop_center-center/Frontpage_04_1500px.jpg?mtime=20141113145859">
				<img sizes="(min-width: 100em) calc(50vw - 168px - 32px), (min-width: 75em) calc(59vw - 138px - 16px), (min-width: 62em) calc(50vw - 68px - 32px), (min-width: 45em) calc(100vw - 32px - 68px), calc(100vw - 70px)" srcset="http://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_480xAUTO_crop_center-center_70/Frontpage_01_1500px.jpg?mtime=20141112172007 480w, http://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_700xAUTO_crop_center-center_75/Frontpage_01_1500px.jpg?mtime=20141112172007 700w, http://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_900xAUTO_crop_center-center/Frontpage_01_1500px.jpg?mtime=20141112172007 900w, http://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_1200xAUTO_crop_center-center/Frontpage_01_1500px.jpg?mtime=20141112172007 1200w, http://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_1600xAUTO_crop_center-center/Frontpage_01_1500px.jpg?mtime=20141112172007 1600w" alt="Mountains in Bodø" style="opacity: 0; z-index: 4;">
				<span class="mouse-over"></span>
				<img class="additional" src="http://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_1200xAUTO_crop_center-center/Frontpage_04_1500px.jpg?mtime=20141113145859" style="display: inline-block; opacity: 1; z-index: 3;"></div>
				<h2 class="heading-small">Stories – Arctic circle gonads got me&nbsp;high</h2>
			</a>
		</article>
	</section>
</div>

