---
title: Casa Oaxaca | merchandise
---

<div class="container">
	<div>
		<h1>MERCHANDISE</h1>
		<h2>WHAT WE OFFER</h2>
		Whether you're shopping for a one-of-a-kind birthday or anniversary 
		present or in the middle of remodeling your home or garden, Casa Oaxaca 
		is the essential stop to make for great results. Our services are extensive 
		and of the highest quality. Come by our Albany location today to find:
	</div>
	<br />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>Alebrijes</h2> 
			<p>
			Traditional Oaxacan figurines carved out of wood and
			hand painted in great detail and color; typically in the formations of 
			various animals
			</p>
		</div>
	</div>
	<hr />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>Alebrijes</h2> 
			<p>
			Traditional Oaxacan figurines carved out of wood and
			hand painted in great detail and color; typically in the formations of 
			various animals
			</p>
		</div>
	</div>
	<hr />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>Alebrijes</h2> 
			<p>
			Traditional Oaxacan figurines carved out of wood and
			hand painted in great detail and color; typically in the formations of 
			various animals
			</p>
		</div>
	</div>
	<hr />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>Alebrijes</h2> 
			<p>
			Traditional Oaxacan figurines carved out of wood and
			hand painted in great detail and color; typically in the formations of 
			various animals
			</p>
		</div>
	</div>
	<hr />
</div>