---
title: Casa Oaxaca |special event
---

<div class="container">
	<div class="module module-testimonials-quotes">
		<ul>
			<li class="card">

				<img src="//assets.usertesting.com/assets/ut_marketing/home/Avinash-Kaushik.jpg" alt="Headshot of Avinash Kaushik">


				<div class="group-quote">
					<p><span class="hanging-quote">“</span>You watch the video and read the comments, you cry, you fix things, you become rich.”</p>
					<span class="source">
						<p>Avinash Kaushik
							<span class="source-title">Digital Marketing Evangelist</span>
						</p>
					</span>
				</div>

			</li>

			<li class="card">

				<%= image_tag 'nautical-pack.png' %>
				<div class="group-quote">
					<p><span class="hanging-quote">“</span>With UserTesting, we can make big changes quickly, virtually eliminating the need for expensive and onerous formal studies.”</p>
					<span class="source">
						<p>Phil Constantinou
							<span class="source-title">Former VP of Product, Evernote</span>
						</p>
					</span>
				</div>

			</li>
			<li class="card">

				<img src="//assets.usertesting.com/assets/ut_marketing/home/Christine-Young.png" alt="Headshot of Christine Young">


				<div class="group-quote">
					<p><span class="hanging-quote">“</span>The user feedback that would have taken me two weeks to compile, UserTesting could deliver in just 20 minutes.”</p>
					<span class="source">
						<p>Christine Young
							<span class="source-title">UX Research Senior Manager, StubHub</span>
						</p>
					</span>
				</div>

			</li>

		</ul>

	</div>
</div>