---
title: Casa Oaxaca |special event
---
<div class="container">
<h1>Special Event</h1>
<hr />
	<div class="info-about">
		<section class="section-about">
			<aside><%= image_tag 'A_Warriors_Face-343x250.jpg' %></aside>
			<article>
				<p>
					July 10, 11 & 12, 2015<br />
					Friday thru Sunday
					our in-store guest artist will be
					<em>Laila Espinoza</em>
				</p>
			</article>
		</section>
		<br />
		<hr />
		<section class="section-about-right">
			<aside>
				<p>
					Laila Espinoza was born in Germany and raised in Juarez, Chihuahua, 
					Mexico. She has been living in Oakland for the last five years.
				</p>
				<p>

					Prior to moving to the Bay Area, Laila studied and worked in Tucson, 
					Arizona. She studied at Pima Community College where she also 
					worked as a Spanish/English tutor. Laila has worked as a Spanish tutor 
					in private school and in the after-school programs in public schools.
				</p>
				<p>
					A self-taught painter, she has exhibited her paintings in places such as 
					La Pena Cultural Center in Berkeley, Addison Street Windows Gallery, 
					and the Marin Foundation Center in Novato. Her "Days of the Dead" 
					Traditional Altar installation received an Honorable Mention from the 
					Mission Cultural Center in San Francisco. Two years ago, Laila's work 
					was selected by a national jury by the Bay Area organization WEAD 
					(Women's Environmental Artists Directory). Laila is currently pursuing a 
					Community Arts major, writing minor, and painting studio concentration 
					at the California College of the Arts.
				</p>
			</aside>
			<article>
				<%= image_tag 'Laila_Espinoza.jpg' %>
			</article>
		</section>
	</div>
</div>